.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;

  .buttons {
    //max-width: 75rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.25rem;
    margin: 5rem 0;

    button {
      gap: 1.1rem;
      background: var(--card-backgound);
      border-radius: 0.9375rem;
      border: none;
      padding: 1.25rem 1.59rem;
      font-size: 1.25rem;
      transition: background 0.3s;
    }

    .active {
      background: var(--yellow-color);
    }

    img {
      width: auto;
      height: 1.57rem;
    }
  }

  .slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s;
    column-gap: 15rem;

    .card {
      position: relative;
      min-width: 100%;
      padding: 6.25rem 0 4.38rem 4.35rem;
      background: var(--card-backgound);
      border-radius: 1.25rem;
      display: flex;
      column-gap: 5rem;
      overflow: hidden;

      .card_info {
        max-width: 32.75rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        span {
          text-align: left;
          margin-bottom: 1.87rem;
        }
      }

      ul {
        li {
          text-align: left;
          padding-left: .95rem;
          margin-bottom: .94rem;
          margin-left: 1rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          &::marker {
            color: var(--yellow-color);
          }
        }
      }

      img {
        //width: auto;
        //max-height: 25rem;
        //position: absolute;
        display: none;

        //width: 43.4375rem;
        //margin-left: 13.8rem;
      }
    }
  }
}